/* <style> */

body{

font-family: 'Bakbak One', cursive;
color: white;
 margin: 0px;
 padding: 0px;
 background: url(img/1.jpg);
 background-size: cover;


}
.left{

    /* border: 2px solid red; */
    display: inline-block;
     position: absolute;
    left: 50PX;
    top: 10PX;

}





.mid{

    /* border: 2px solid blue; */
    display: block;
    width: 40%;
    margin: 50px auto;
    

}
.right{

    /* border: 2px solid green; */
    display: inline-block;
    position: absolute;
    right: 50PX;
    top: 50PX;

}
.nevbar{

    display: inline-block;

}
.nevbar li{

display: inline-block;
font-size: 21px;
}

.nevbar li a{

 color: white;
 text-decoration: none;
padding: 34px 22px;
}
.nevbar li a:hover , .nevbar li a:active{   

text-decoration: underline;
color: gray;

}
.left img{

width: 245px;
filter: invert(100%);

}
.left div{

    text-align: center;
    font-size: 25px;
}
.btn{


    font-family: 'Bakbak One', cursive;

margin: 0px 9px;
background-color: black;
color: white;
padding: 4px 14px;
border: 2px solid gray;
border-radius: 22px;
font-size: 20px;
cursor: pointer;
}
.btn:hover{

    background-color: gray;

}
.container{

    /* display: inline-block; */
    border: 2px solid white;
    margin: 160px 100px;
    padding: 100px 30px;
    width: 25%;
    border-radius: 80px;


}
.form-group input{
    font-family: 'Bakbak One', cursive;

    text-align: center;
    display: block;
    width: 300px;
    padding: 6px;
    border: 2px solid black;
    margin: 9px auto;
    font-size: 18px;
}
.container h1{

    text-align: center;

}
.container button{



    display: block;
    width: 335px;
    margin: auto;
}

.sidd{

  color :black !important;

}
/* </style> */